body{
    margin: 0;
}


.menu{
    height: 150px;
    width: 100%;
    background-color: rgb(61, 59, 59) !important;
    
    
}
.inform
.header {
    border-radius: 5px;
    width: 20%; /* Imposta la larghezza in percentuale rispetto al genitore */
    max-width: 100px; /* Imposta una larghezza massima in pixel */
    height: 30px;
    margin-top: 20px;
    padding: 0px;
}
.informazioni{
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
}
.amain{
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    color: white;
    margin-top: 90px;
}
.x{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: rgba(194, 193, 196, 0.733);
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}
.x2{
    border-radius: 5px;
    background-color: rgba(194, 193, 196, 0.733);

    width: 100px;
    height: 30px;
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}
.x3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    width: 100%px;
    height: 40px;
    font-size: 100px;
    
}
.atitle{
    color: rgb(255, 255, 255);
    scale: 1.0;
}
a{
    text-decoration: none !important;
    
}

@media  screen and (max-width: 500px){

    .bottone-menu {
        display: block;
        background-color: #9e9696; /* Colore di sfondo del bottone */
        color: white; /* Colore del testo del bottone */
        padding: 10px 20px; /* Padding del bottone */
        border: none; /* Rimuove il bordo del bottone */
        margin: 10px; /* Margine intorno al bottone */
        font-size: 16px; /* Dimensione del testo del bottone */
    }

    .menu-tendina {
        display: none; /* Nasconde il menu a tendina di default */
        flex-direction: column;
        background-color: #b4b4b4; /* Colore di sfondo del menu a tendina */
        width: 110px; /* Larghezza del menu a tendina */
    }

    .menu-tendina a {
        color: black; /* Colore dei link */
        padding: 10px; /* Padding dei link */
        text-decoration: none; /* Rimuove il sottolineato dai link */
        display: block; /* Fa sì che i link occupino l'intera larghezza */
    }

    .menu-tendina a:hover {
        background-color: #ddd; /* Colore di sfondo al passaggio del mouse */
    }
    .menu{
        padding: 0px;
        margin-top: 0px;
        height: 150px;
        width: 100%px;
        background-color: rgb(61, 59, 59) !important;
    }

    .x3{
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
    }
    .x,.x2{
        display: none !important;
    }
    
    .bianco{
        padding: 10px;
    }
    .grigio{
        width:100%px;
        padding: 10px;
    }
    table {
        margin-top: 20px;
        margin-left: 2px;
        max-width: 100%;
        width: auto;
        width: 100%;
        overflow-x: auto;
    }
   

    .uno{
        width: 100%;
        
    }

    .uno h1{
        font-size: 20px;
    }
    .uno p{
        font-size: 16px;
    }

    .titolo{
        width: 100%;
        font-size: 30px;
    }
    .titolo:hover{
        transform: scale(1.0);
        cursor: default;
    }
}